/*****************************************************************
	ID's SECTION
*****************************************************************/

#comentarios .panel {
	max-height: 53%;
	overflow: auto;
}

#map {
	height: 100%;
}

#menu {
	top: 71px;
}

#menu .cd-panel-container {
	top: 71px;
	background-color: grey;
}

#menu .cd-panel-content {
	padding-top: 20px;
	color: white;
	font-weight: bold;
}

#menu li {
	background-color: grey;
	border: 0;
	cursor: pointer;
}

#mision p, #ruta p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1em;
	text-align: justify;
}

#mobile-header {
	margin: 0;
}

#ruta img:first-of-type {
	display: inline-block;
    width: 60px;
}

#ruta h1 {
	display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
}

#ruta .cd-panel-content img:last-of-type {
	width: 100%;
}

#rutas .carousel-caption img {
	margin: auto;
	width: 75%;
}

#rutas .cd-panel-content {
	padding: 0;
}

#rutas .col-xs-11, #rutas .col-xs-3, #rutas .col-xs-3 > img, #rutas div:not([class="carousel-caption"]) {
	height: 100%;
	padding: 0;
}

#rutas-mobile .panel, #rutas-mobile .panel-heading {
	background-color: grey;
	border:	0;
}

#rutas-mobile .panel-title a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#rutas-mobile .panel-body {
	text-align: justify;
}

#rutas-mobile .panel-title img {
	width: 50px;
	margin-right: 10px;
}

#rutas-mobile .panel-body img {
	width: 100%;
}

#rutas-mobile span {
	float: right;
	line-height: 50px;
}

#sidebar {
	padding: 0;
	background-color: #EF7E1B;
}

#sidebar h2 {
	display: flex;
	position: relative;
	margin-left: 25%;
	top: 50%;
	color: white;
	cursor: pointer;
	font-size: 3em;
	font-weight: bold;
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	transform-origin: left top 0;
}

#sidebar h3 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-weight: bold;
}

#sidebar span {
	display: inline;
	margin-right: 20px;
}

#sidebar-header {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #EC681F;
}

#status img {
	width: 50px;
}

#status span {
	line-height: 50px;
}

#status tr {
	border-bottom: dashed 2px grey;
}

#time {
	display: inline-block;
	float: right;
	cursor: default;
}

@media (max-width: 767px) {
  .footer {
  	z-index: 100 !important;
  }

  #mision .cd-panel-content p {
  	color: white;
  }

  #status.cd-panel, #mision.cd-panel, #tarifas.cd-panel, #comentarios.cd-panel, #rutas-mobile.cd-panel {
  	top: 71px;
  	width: 100%;
  }

  #status .cd-panel-container, #mision .cd-panel-container, #tarifas .cd-panel-container, #comentarios .cd-panel-container, #rutas-mobile .cd-panel-container {
  	top: 71px;
  	width: 100%;
  	background-color: grey;
  }

  #status .cd-panel-content .panel, #tarifas .cd-panel-content .panel, #forum li {
  	background-color: grey;      	
  }

  #status .cd-panel-content, #mision .cd-panel-content, #tarifas .cd-panel-content, #comentarios .cd-panel-content, #rutas-mobile .cd-panel-content {
  	padding-top: 10px;
  	color: white;
  }

  #status .cd-panel-content h1, #mision .cd-panel-content h1, #tarifas .cd-panel-content h1, #comentarios .cd-panel-content h1 {
  	display: none;
  }

  #status .cd-panel-content tr {
  	border-bottom: 2px solid black;
  }

  #status .cd-panel-header, #mision .cd-panel-header, #tarifas .cd-panel-header, #comentarios .cd-panel-header {
  	display: none;
  }

  #time {
    top: 5px;
  }
}

/*****************************************************************
	CLASSES SECTION
*****************************************************************/

.btn {
	background-color: #EF7E1B;
}

.btn:hover {
	background-color: #EC681F;
}

.carousel-caption {
	top: 30%;
	cursor: default;
}

.container {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	width: 100%;
}

.container-fluid {
	background-color: white;
	height: 100%;
}

.glyphicon-menu-hamburger {
	font-size: 1.5em;
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: transform 0.6s linear;
	   -moz-transition: transform 0.6s linear;
	    -ms-transition: transform 0.6s linear;
	     -o-transition: transform 0.6s linear;
	        transition: transform 0.6s linear;
}

.footer, .cd-panel-content ~ div {
	width: 100%;
	height: 71px;
	padding-right: 25px;
	overflow: auto;
	position: absolute;
	bottom: 0;
	color: white;
	font-weight: bold;
	background-color: #EC681F;
	z-index: 0;
}

.footer h3, .cd-panel-content ~ div h3 {
	float: right;
}

.footer img, #ruta .cd-panel-content ~ div img {
	float: left;
	width: 55px;
	margin-top: 9px;
	margin-left: 40px;
}

.header {
	height: 71px;
	overflow: hidden;
	margin-bottom: 0;
}

.header ul {
	padding-top: 11px;
}

.header li {
	margin-left: 39px;
	cursor: pointer;
}

.header a {
	font-size: 1.5em;
	color: black;
}

.marketing {
	position: absolute;
	top: 71px;
	bottom: 71px;
	overflow: auto;
	margin-left: 0;
	width: 100%;
	height: auto;
}

.menu-btn, .menu-close {
	float: left;
	margin-left: 0 !important;
}

.nav {
	margin: 0;
}

.rotate {
	color: black;
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);

	-webkit-transition: transform 0.3s linear;
	   -moz-transition: transform 0.3s linear;
	    -ms-transition: transform 0.3s linear;
	     -o-transition: transform 0.3s linear;
	        transition: transform 0.3s linear;
}

.sepia {
	-webkit-filter: sepia(100%);
	   -moz-filter: sepia(100%);
	    -ms-filter: sepia(100%);
	     -o-filter: sepia(100%);
	        filter: sepia(100%);

    -webkit-transition: all .50s linear;
       -moz-transition: all .50s linear;
        -ms-transition: all .50s linear;
         -o-transition: all .50s linear;
            transition: all .50s linear;
}

.sub-container {
	height: 100%;
	padding-left: 0;
}


/*****************************************************************
	TAGS SECTION
*****************************************************************/

html, body, .container, #sidebar {
	height: 100%;
}

i {
	display: block;
	margin-top: 15px;
}

nav {
	border: 0 !important;
}

textarea {
	resize: none;
}

/*****************************************************************
	COLLAPSABLE PANEL
*****************************************************************/

.cd-panel {
	/*...*/
  	visibility: hidden;
	transition: visibility 0s 0.6s;
	z-index: 1;
}
 
.cd-panel.is-visible {
	visibility: visible;
	transition: visibility 0s 0s;
}
 
.cd-panel-header {
	/*...*/
	position: fixed;
	top: -50px;
	width: 50%;
	height: 50px;
	transition: top 0.3s 0s;
}
 
.is-visible .cd-panel-header {
	top: 0;
	transition: top 0.3s 0.3s;
}
 
.cd-panel-container {
	/*...*/
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
 
	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
 
 	transform: translate3d(100%, 0, 0);
}
 
.is-visible .cd-panel-container {
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
}